<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">Events</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a routerLink="/dashboard/main">
                                <i class="fas fa-home"></i> Home</a>
                        </li>
                        <li class="breadcrumb-item active">Events</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            <strong>Events</strong>
                        </h2>

                        <div class="header-buttons m-r-20 text-right">
                            
                                <div class="icon-button-demo">
                                    
                                    <button class="btn bg-blue btn-circle waves-effect waves-circle waves-float" data-toggle="modal" data-target="#eventList" (click)='eventlist()'>
                                       <i class="fas fa-list-ul material-icons col-white" style="padding-top: 1px"></i>
                                    </button>
                               
                                    
                                    <button class="btn bg-blue btn-circle waves-effect waves-circle waves-float" data-toggle="modal" data-target="#eventAdd" >
                                        <i class="far fa-calendar-plus material-icons col-white" style="padding-top: 1px" ></i>
                                    </button>
                                </div>
                           
                        </div>


                    </div>
                    <div class="body">
                        <full-calendar #calendar defaultView="dayGridMonth" [header]="{
                          left: 'prev,next today',
                          center: 'title',
                          right: 'dayGridMonth,dayGridWeek,dayGridDay,listWeek'
                        }" [plugins]="calendarPlugins" [weekends]="calendarWeekends" [events]="calendarEvents"></full-calendar>
                    </div>
                </div>
            </div>
        </div>
            <!--eventadd modal start-->

            <div class="modal fade" id="eventAdd" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="editRowModal">
                            <div class="modal-header clearfix">
                              <h2>  Add Event : </h2>
                            </div>
                        </div>
                        <button type="button" class="btn p-t-10 modal-close-button"
                            data-dismiss="modal" aria-label="Close">
                            <i class="material-icons">clear</i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form [formGroup]="addEventForm" (ngSubmit)="eventadd(addEventForm)">
                            <div class="input-field col s12 d-none">
                                <input formControlName="id" class="form-control" type="hidden">
                            </div>
                     

                            <div class="row">
                                <div class="input-field col s12">
                                    
                                    <input formControlName="title" class="form-control"
                                        placeholder="Title">
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s6">
                                   
                                    <input type='date' formControlName="start" class="form-control"
                                        placeholder="Start">
                                </div>
                                <div class="input-field col s6">
                                    
                                    <input type="date" formControlName="end" class="form-control"
                                        placeholder="End">
                                </div>
                            </div>
                            <div class="row">
                                 
                                 <div class="input-field col s6">
                                   
                                    <input type='text' formControlName="start" class="form-control"
                                        placeholder="URL">
                                 </div>
                            </div>  
                            <div class="modal-footer">
                                <div class="button-demo">
                                    <button type="submit"
                                        class="btn btn-outline-success btn-border-radius">Save</button>
                                    <button type="button"
                                        class="btn btn-outline-warning btn-border-radius"
                                        data-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            </div>

            <!--addEvent modal end-->

            <!--eventList modal start-->

            <div class="modal fade" id="eventList" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="editRowModal">
                            <div class="modal-header clearfix">
                                <h2>Event List : </h2>
                            </div>
                        </div>
                        <button type="button" class="btn p-t-10 modal-close-button"
                            data-dismiss="modal" aria-label="Close">
                            <i class="material-icons">clear</i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <div class="card">
                                <div class="header">
                                    <h2>
                                       
                                      
                                    </h2>
                                    
                                </div>
                                <div class="body">
                                 
                                        <table style="width: 370px">
                                      
                                            <tr class="list-group-item" *ngFor="let event of calendarEvents , let i=index">
                                                <td align="left">
                                                     <i class="fas fa-dot-circle"></i><u>  {{event.id}} {{event.title}}</u>
                                                </td>
                                                <td align="right">
                                                     <button type="button" (click)="deleteEvent()" class="btn tblActnBtn h-auto text-right mb-3">
                                                     <i class="material-icons">delete</i>
                                                     </button>
                                                </td>
                                            </tr>
                                       
                                      </table>
                                 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>

            <!--eventAdd modal end-->


    </div>
</section>