<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">Ajouter Un Compte</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a routerLink="/dashboard/main">
                                <i class="fas fa-home"></i> Home</a>
                        </li>
                        <li class="breadcrumb-item bcrumb-2">
                            <a href="#" onClick="return false;">ajouter-compte</a>
                        </li>
                    
                    </ul>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                   
                    <div class="body">
                        <form [formGroup]="addCompteForm" (ngSubmit)="addCompte(addCompteForm)">
                            <div class="form-group">
                                <label>Username </label>
                                <input type="text" formControlName="username" class="form-control"/>
                            </div>
                            <div class="form-group">
                                <label>Email </label>
                                <input type="email" formControlName="email" class="form-control"/>
                            </div>
                            <div *ngIf="!isUpdate" class="form-group">
                                <label>Password </label>
                                <input type="password" formControlName="password" class="form-control"/>
                            </div>
                            <div class="form-group">
                                <label>Status</label>
                                <select class=" select2" formControlName="role" data-placeholder="Select" [(ngModel)]="t">
                                    <option disabled></option>
                                    <option value="ADMIN">ADMIN</option>
                                    <option>UTILISATEUR</option>

                                </select>
                            </div>
                            
                            
                            <div class="form-group">
                                <button class="btn btn-primary" >Register</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
