<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">Update Un Formateur</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a routerLink="/dashboard/main">
                                <i class="fas fa-home"></i> Home</a>
                        </li>
                        <li class="breadcrumb-item bcrumb-2">
                            <a href="#" onClick="return false;">update-formateur</a>
                        </li>
                    
                    </ul>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                   
                    <div class="body">
                        <form [formGroup]="updateFormateurForm" (ngSubmit)="updateFormateur(updateFormateurForm)">
                            <div class="form-group">
                                <label>Nom </label>
                                <input type="text" formControlName="nom" class="form-control"/>
                            </div>
                            <div class="form-group">
                                <label>Prenom</label>
                                <input type="text" formControlName="prenom" class="form-control" />
                                
                            </div>
                            <div class="form-group">
                                <label>Mail</label>
                                <input type="text" formControlName="mail" class="form-control"/>
                            </div>
                            
                            <div class="form-group">
                                <label>Téléphone </label>
                                <input type="text" required formControlName="telephone" class="form-control"   />
                                
                            </div>
                            
                            <div class="form-group default-select">
                                <label>Formation</label>
                                <select class="form-control" formControlName="formation" data-placeholder="Select">
                               
                                    <option disabled></option>
                                    <option *ngFor="let formation of listFormations" [value]="formation.nom">
                                        {{formation.nom}}
                                    </option>

                                </select>
                            </div>

                            <div class="form-group">
                                <label>Status</label>
                                <select class=" select2" formControlName="status" data-placeholder="Select" selected="travaillant actuel">
                                    
                                    <option>travaillant actuel</option>
                                    <option>ancien </option>

                                </select>
                            </div>


                        <!--<div class="form-group">
                            <div class="file-field input-field">
                                <div class="btn">
                                    <span>CV</span>
                                    <input type="file" multiple   accept="application/pdf" (change)="onFileChange($event)" >
                                </div>
                                <div class="file-path-wrapper">
                                    <input class="file-path validate" 
                                        placeholder="Upload the CV">
                                </div>
                            </div>
                        </div>-->
                            
                            <div class="form-group">
                                <button class="btn btn-primary">Register</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
