<section class="content">
    <div class="container-fluid">
        <!-- Basic Examples -->
       <!-- <div class="alert alert-info">
            Advance table component is develop using <strong>ngx-datatable</strong> angular plugin. Main features of
            this table is search record in table, add new record, edit record, delete record, sorting data by
            ascending and descending, pagination, and many more. You have just replace table static json data with your
            dynamic json data comes from your api.
        </div>-->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="ngxTableHeader">

                                    <ul class="header-buttons-left m-l-5">
                                        <li class="dropdown m-l-20">
                                            <h2>
                                                <strong>Liste Des Comptes</strong></h2>
                                        </li>
                                        <li class="dropdown m-l-20">
                                            <label for="search-input"><i
                                                    class="material-icons search-icon">search</i></label>
                                            <input placeholder="Search" type="text" class="browser-default search-field"
                                                (keyup)='filterDatatable($event)' aria-label="Search box">
                                        </li>
                                    </ul>

                                    <ul class="header-buttons m-r-20">
                                        <li>
                                            <div class="icon-button-demo">
                                                
                                                <button class="btn bg-blue btn-circle waves-effect waves-circle waves-float">
                                                    <a routerLink="/gestion-comptes/new"><i class="material-icons col-white" style="padding-top: 1px"> add</i></a>
                                                </button>
                                            </div>
                                        </li>

                                    </ul>
                                </div>
                                <ngx-datatable #table class="material" [rows]="accounts" [columns]="columns"
                                    [sortType]="'multi'" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                                    [rowHeight]="'60'" [limit]="10">
                                    <!-- user image -->
                                    
                                    <ngx-datatable-column name="username" [width]="130"></ngx-datatable-column>
                                    <ngx-datatable-column name="email" [width]="130"></ngx-datatable-column>
                                    <ngx-datatable-column name="password" [width]="130"></ngx-datatable-column>
                                    <ngx-datatable-column name="roles" [width]="130"></ngx-datatable-column>

                                    <!-- <ngx-datatable-column *ngFor="let col of columns" [name]="col.name">
                                    </ngx-datatable-column> -->
                                    <!-- action buttons -->


                                    <ngx-datatable-column name="Actions" sortable="false" [width]="120">
                                        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                            <span>
                                                <button class="btn tblActnBtn h-auto" data-toggle="modal"
                                                    data-target="#editModal" (click)='editRow(row)'>
                                                    <i class="material-icons">mode_edit</i>
                                                </button>
                                                <button class="btn tblActnBtn h-auto" (click)='deleteRow(row)'>
                                                    <i class="material-icons">delete</i>
                                                </button>
                                                <!--
                                                    <button class="btn tblActnBtn h-auto" (click)='startFormation(row)'>
                                                    <i class="fas fa-play"></i>
                                                </button>
                                            -->
                                            </span>
                                        </ng-template>
                                    </ngx-datatable-column>

                                   
                                </ngx-datatable>

                                <!-- show cv Modal Window -->
                             
                                <!-- Edit Record Modal Window -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
