  <!-- Right Sidebar -->
  <aside id="rightsidebar" class="right-sidebar">
    <ul class="nav nav-tabs tab-nav-right" role="tablist">
        <li role="presentation">
            <a href="#skins" data-toggle="tab" class="active">SKINS</a>
        </li>
        <li role="presentation">
            <a href="#settings" data-toggle="tab">SETTINGS</a>
        </li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane in active in active stretchLeft" id="skins">
            <div class="demo-skin">
                
                <div class="rightSetting">
                    <p>SIDEBAR MENU COLORS</p>
                    <button type="button"
                        class="btn btn-sidebar-light btn-border-radius p-l-20 p-r-20">Light</button>
                    <button type="button"
                        class="btn btn-sidebar-dark btn-default btn-border-radius p-l-20 p-r-20">Dark</button>
                </div>
                <div class="rightSetting">
                    <p>THEME COLORS</p>
                    <button type="button" class="btn btn-theme-light btn-border-radius p-l-20 p-r-20">Light</button>
                    <button type="button"
                        class="btn btn-theme-dark btn-default btn-border-radius p-l-20 p-r-20">Dark</button>
                </div>
                <div class="rightSetting">
                    <p>SKINS</p>
                    <ul class="demo-choose-skin choose-theme list-unstyled">
                        <li data-theme="black" class="actived">
                            <div class="black-theme"></div>
                        </li>
                        <li data-theme="white">
                            <div class="white-theme white-theme-border"></div>
                        </li>
                        <li data-theme="purple">
                            <div class="purple-theme"></div>
                        </li>
                        <li data-theme="blue">
                            <div class="blue-theme"></div>
                        </li>
                        <li data-theme="cyan">
                            <div class="cyan-theme"></div>
                        </li>
                        <li data-theme="green">
                            <div class="green-theme"></div>
                        </li>
                        <li data-theme="orange">
                            <div class="orange-theme"></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane stretchRight" id="settings">
            <div class="demo-settings">
                <p>GENERAL SETTINGS</p>
                <ul class="setting-list">
                    <li>
                        <span>Report Panel Usage</span>
                        <div class="switch">
                            <label>
                                <input type="checkbox" checked>
                                <span class="lever switch-col-green"></span>
                            </label>
                        </div>
                    </li>
                    <li>
                        <span>Email Redirect</span>
                        <div class="switch">
                            <label>
                                <input type="checkbox">
                                <span class="lever switch-col-blue"></span>
                            </label>
                        </div>
                    </li>
                </ul>
                <p>SYSTEM SETTINGS</p>
                <ul class="setting-list">
                    <li>
                        <span>Notifications</span>
                        <div class="switch">
                            <label>
                                <input type="checkbox" checked>
                                <span class="lever switch-col-purple"></span>
                            </label>
                        </div>
                    </li>
                    <li>
                        <span>Auto Updates</span>
                        <div class="switch">
                            <label>
                                <input type="checkbox" checked>
                                <span class="lever switch-col-cyan"></span>
                            </label>
                        </div>
                    </li>
                </ul>
                <p>ACCOUNT SETTINGS</p>
                <ul class="setting-list">
                    <li>
                        <span>Offline</span>
                        <div class="switch">
                            <label>
                                <input type="checkbox" checked>
                                <span class="lever switch-col-red"></span>
                            </label>
                        </div>
                    </li>
                    <li>
                        <span>Location Permission</span>
                        <div class="switch">
                            <label>
                                <input type="checkbox">
                                <span class="lever switch-col-lime"></span>
                            </label>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</aside>
<!-- #END# Right Sidebar -->