<div id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
        <div class="container">
            <img src="/assets/images/theway.png" width="10%" height="10%" style="margin-top: 10px;" />
            <a class="navbar-brand js-scroll-trigger" href="#page-top">TheWay Center</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto my-2 my-lg-0">
                    <li class="nav-item"><a class="nav-link js-scroll-trigger">Accueil</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger">Services</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger">Formations</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger">Contact</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" routerLink="/authentication/login">Logon</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Masthead-->
    <header class="masthead">
        <div class="container h-100">
            <div class="row h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-10 align-self-end">
                    <h1 class="text-uppercase text-white font-weight-bold">Boostez votre carrière professionnelle avec
                        nous !</h1>
                    <hr class="divider my-4" />
                </div>
                <div class="col-lg-8 align-self-baseline">
                    <p class="text-white-75 font-weight-light mb-5">DevOps, Big data, Développement Web, Développement
                        Mobile, Design, Test logiciel, Agile Scrum</p>
                    <button class="btn btn-danger" (click)="subscribe()">Inscription</button>
                </div>
            </div>
        </div>
    </header>


</div>