<div>
    <!-- Left Sidebar -->
    <aside id="leftsidebar" class="sidebar">
        <!-- Menu -->
        <div class="menu">
            <ul class="list">
    
                <li routerLinkActive="active">
                    <a routerLink="dashboard/main">
                        <i class="fas fa-home"></i>
                        <span>Home</span>
                    </a>
                </li>

                <li routerLinkActive="active">
                    <a routerLink="gestion-formateur/liste-formateur">
                        <i class="fas fa-chalkboard-teacher"></i>
                        <span>Gestion Des Formateurs</span>
                    </a>
                </li>

                <li routerLinkActive="active">
                    <a routerLink="gestion-categorie/liste-categorie">
                        <i class="fa fa-tag" aria-hidden="true"></i>

                        <span>Gestion Des Catégories</span>
                    </a>
                </li>

                
                <li routerLinkActive="active">
                    <a routerLink="gestion-formation/liste-formation">
                        <i class="fas fa-calendar-plus"></i>

                        <span>Gestion Des Formations</span>
                    </a>
                </li>




             

                <li routerLinkActive="active">
                    <a routerLink="gestion-session/liste-session">
                        <i class="fas fa-users"></i>
                        <span>Gestion Des Sessions</span>
                    </a>
                   
                </li>
                
                <li routerLinkActive="active">
                    <a routerLink="gestion-participant/liste-participant">
                        <i class="fas fa-graduation-cap"></i>

                        <span>Gestion Des Participants</span>
                    </a>
                </li>
  

                <li routerLinkActive="active">
                    <a routerLink="apps/calendar">
                        <i class="far fa-calendar-alt"></i>

                        <span>Calendrier</span>
                    </a>
                </li>

            
                <li routerLinkActive="active" *ngIf="isAdmin">
                    <a routerLink="gestion-comptes/accounts">
                        <i class="fas fa-users"></i>
                        <span>Gestion Des Comptes</span>
                    </a>
                   
                </li>
        
           
            </ul>
        </div>
        <!-- #Menu -->
    </aside>
    <!-- #END# Left Sidebar -->
</div>