<form class="form-horizontal" action='' method="POST">
    <fieldset>
        <div id="legend">
            <legend class="">S'inscrire à une formation</legend>
        </div>
        <div class="control-group">
            <!-- Username -->
            <label class="control-label" for="nom">Nom</label>
            <div class="controls">
                <input type="text" id="nom" name="nom" placeholder="" class="input-xlarge" [(ngModel)]="nom">
                <p class="help-block"></p>
            </div>
        </div>

        <div class="control-group">
            <!-- Username -->
            <label class="control-label" for="prenom">Prénom</label>
            <div class="controls">
                <input type="text" id="prenom" name="prenom" placeholder="" class="input-xlarge" [(ngModel)]="prenom">
                <p class="help-block"></p>
            </div>
        </div>


        <div class="control-group">
            <!-- Username -->
            <label class="control-label" for="tel">Téléphone</label>
            <div class="controls">
                <input type="text" id="tel" name="tel" placeholder="" class="input-xlarge" [(ngModel)]="tel">
                <p class="help-block"></p>
            </div>
        </div>



        <!-- Username -->
        <label class="control-label" for="formation">Formation</label>
        <select id="formation" name="formation" [(ngModel)]="formation" style="display: block;">
            <option selected></option>
            <option *ngFor="let f of formations" [ngValue]="f">{{f.nom}}</option>
        </select>
        <p class="help-block"></p>




        <div class="control-group">
            <!-- Button -->
            <div class="controls">
                <button class="btn btn-success" (click)="subscribe()">Register</button>
            </div>
        </div>
    </fieldset>
</form>
<br /><a routerLink="/authentication/home">Home</a>